// Material colors from http://materialuicolors.co/
// Level: 500
$color-material-red: #F44336;
$color-material-pink: #E91E63;
$color-material-purple: #9C27B0;
$color-material-deep_purple: #673ab7;
$color-material-indigo: #3f51b5;

$color-material-blue: #2196f3;
$color-material-light_blue: #03a9f4;
$color-material-cyan: #00bcd4;
$color-material-teal: #009688;
$color-material-green: #4caf50;

$color-material-light_green: #8bc34a;
$color-material-lime: #cddc39;
$color-material-yellow: #ffeb3b;
$color-material-amber: #ffc107;
$color-material-orange: #ff9800;

$color-material-deep_orange: #ff5722;
$color-material-brown: #795548;
$color-material-grey: #9e9e9e;
$color-material-blue_grey: #607d8b;

// Flat colors from https://flatuicolors.com/palette/defo
$color-flat-turquoise: #1abc9c;
$color-flat-emerald: #2ecc71;
$color-flat-peter_river: #3498db;
$color-flat-amethyst: #9b59b6;
$color-flat-wet_asphalt: #34495e;

$color-flat-green_sea: #16a085;
$color-flat-nephritis: #27ae60;
$color-flat-belize_hole: #2980b9;
$color-flat-wisteria: #8e44ad;
$color-flat-midnight_blue: #2c3e50;

$color-flat-sun_flower: #f1c40f;
$color-flat-carrot: #e67e22;
$color-flat-alizarin: #e74c3c;
$color-flat-clouds: #ecf0f1;
$color-flat-concrete: #95a5a6;

$color-flat-orange: #f39c12;
$color-flat-pumpkin: #d35400;
$color-flat-pomegranate: #c0392b;
$color-flat-silver: #bdc3c7;
$color-flat-asbestos: #7f8c8d;